.note-card{
    display: flex;
    align-items: center;
    background-color: white;
    color: #10375C;
    margin: 10px 30px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0 , 0, 0,0.1);
    position: relative;
}
.note-card-emoji{
    font-size: 40px;
    margin-right:40px ;
}
.note-card-title{
    margin: 0px;
    color: #10375C;
}
.note-card-description{
    margin: 0px;
    color:#10375C;

}
.note-card-category{
    position:absolute ;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    font-size: 12px;
    min-width: 70px;
    text-align: center;
}
.note-category-emoji{
    font-size: 15px;
    margin: 10px;
}
.note-card-delete{
    height:20px ;
    position: absolute;
    bottom: 5px;
    right: 35px;
    cursor: pointer;

}
.note-card-delete:hover{
    transition: 0.3s;
    transform: scale(1.2);
}

.bg-shopping{
    background-color: tomato;
}

.bg-work{
    background-color: snow;
}
.bg-personal{
background-color: yellow;

}
.bg-learning{
    background-color: yellow;
}

.bg-health{
    background-color: azure;
}

@media screen and (max-width:500px) {
    

.note-card{
  margin: 5px 5px ;
}
.note-card-emoji{
    font-size: 30px;
    margin-right: 5px;
}
.note-card-title{
    font-size: 14px;
}
.note-card-description{
    font-size: 14px;
    color: #10375C;
}
.note-card-category{
    font-size: 8px;
    min-width: 12px;
    top: 5px;
    right: 5px;
    padding: 5px 5px ;

}
.note-category-emoji{
    font-size: 8px;
}
}