.buttons-container{
    display: flex;
    justify-content: center;

}

.feature-cardd{
    background-color: #EB8317;
    width: 300px;
    height: 200px;
    padding: 15px 20px ;
    border-radius: 10px;
    box-shadow: 0 0 30px  whitesmoke ;
    cursor: pointer;
    border: 1px solid #FAF7F0;
   
    
}

.feature-imgg{
    height: 60px;
    display: block;
    margin: 20px auto;
}

.feature-textt{
    font-size: 15px;
    color: black;
}

@media  screen and (max-width:500px ) {
    .feature-cardd{
        margin-top: 20px;
        padding:10px;
    }

    .feature-imgg{
        height: 40px;
        display: block;
        margin: 20px auto;
    }

    .feature-textt{
        font-size: 15px;
        color: black;
    }
}